body {
    font-family: 'Permanent Marker', cursive;
    /* background-image: url("/images/background.jpg"); */
    /* background-size: cover; */
    /* color: honeydew; */
    color: #1a1a1a;
}

a {
    color: #1a1a1a;
    /* color: honeydew; */
    text-decoration: none;
}

ul {
    text-align: initial;
    list-style: none;
}

input[type="text" i]
, select
{
    display: block;
    margin: 5%;
    padding: 2%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 5%;
    border: none;
    border-radius: 5px;
}

.gametitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.roundNumber {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.question {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.centerbox {
    padding: 2%;
    text-align: center;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.button {
    background-color:#a7a7a7;
    margin: 5%;
    padding: 4%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    opacity: .9;
}

.playerIcon {
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.resultsIcon {
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(238, 238, 238);
    padding: 4%;
    width: 60%;
    border-radius: 5px;
}

.votes {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 66%;
    position: relative;
    top: 12px;
}

.leaderboard {
    text-align: center;
}

.errorMessage {
    display: none;
    color: red;
}

.timer {
    text-align: center;
    margin: 2rem;
    font-size: larger;
}

.waitingRoomContainer {
    display: flex;
    margin-top: 1rem;
}

.waitingRoomList {
    flex: 1;
}

#boysCrown
,#girlsCrown
,#playAgain {
    display: none;
}

#waitingForHost {
    display: none;
    margin-top: 2rem;
    font-size: smaller;
}

#leaderboardList {
    text-align: center;
}

.mainBanner {

}

.mainBannerImg {
    display: inline-block;
    max-width: 50%;
}

.mainBannerText {
    display: inline-block;
    max-width: 49%;
    vertical-align: top;
    margin-top: 10%;
}

.mainBoxes {
    background-color: #e0dfdf;
    margin: 1rem;
    display: flex;
}

.mainBox {
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.gameBox:hover {
    background-color: #e0dfdf;
    cursor: pointer;
}

.gameBoxes {
    margin: 1rem;
    display: flex;
}

.gameBox {
    text-align: center;
    /* margin: auto; */
    padding: 1rem;
    border: 1px solid #e0dfdf;
    width: 30%;
}


